.container{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(auto-fill,300px);
    justify-content: center;
   

}
.cont img{
    height: 180px;
    width: 230px;
}

.cont{
display: flex;

flex-direction: column;
gap:5px
}